.simple-text {
    text-decoration: none
}

@font-face {
    font-family: SansPro;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

/* Fonts Import */
@import url("https://fonts.googleapis.com/css?family=Abel|Anton|Cabin|Dancing+Script|Indie+Flower|Lacquer|Lato|Lobster|Long+Cang|Lora|Ma+Shan+Zheng|Montserrat|Muli|Open+Sans|Oswald|Pacifico|Raleway|Roboto&display=swap");

.sanspro {
    font-family: SansPro;
}

.sanspro-bold {
    font-family: SansPro;
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: SansPro;
    font-size: bold;
    margin: 0px;
}

body {
    font-family: "cabin", sans-serif;

    /* font-family: SansPro; // old police
    font-size: medium; */

    /* column-gap: 32px; */
}

p {
    text-align: justify;
}

.text-center {
    text-align: center;
}


/*-------------*/
nav {
    padding: 0 15vw;
    height: fit-content;
}

section {
    padding: 15vw 15vw;
    height: fit-content;
    /* background-color: yellow; */
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    section {
        padding: 15vw 8vw;
        /* background-color: orange; */
    }

    nav {
        padding: 0 1vw;
    }
}

@media screen and (max-width: 600px) {
    section {
        padding: 15vw 3vw;
        /* background-color: red; */
    }

    nav {
        padding: 0 1vw;
    }
}

/*-- dropdown -- */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/*-- contacts --*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}


/*-- intervenant --*/

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}